.post-container {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.post-inner {
    border: 2px solid #819bcc;
    border-radius: 12px;
    margin-top: 130px;
}

.post-title {
    background: linear-gradient(to right, #819bcc, rgb(112, 112, 247), #3969bd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 10px;
    position: relative;
    padding-bottom: 3px;
    margin-right: 10px;
}

.post-title::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #819bcc, rgb(112, 112, 247), #3969bd);
    position: absolute;
    bottom: 0;
    left: 0;
}

.post-content {
    margin-left: 10px;
}

.post-info {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 1650px;
}

#created-by {
font-size: 12px;
margin-bottom: -10px;
}

#created-on {
    font-size: 12px;
    margin-bottom: -10px;
}

.post-tag {
    font-size: 15px;
    margin-bottom: -10px;
}

.comments-container {
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }

  .single-comment {
    padding: 8px;
    margin: 5px 0;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 13px;
  }

  #author {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
  }

  #comment-content {
    font-size: 16px;
    margin-left: 15px;
  }

  #date {
    font-size: 13px;
    margin-left: 1600px;
    margin-bottom: -10px;
  }

  #add-comment {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 16px;
  }