.user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-details-container {
  width: 800px;
  height: 100%;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
  margin-left: 550px;
}

.user-details-container h2 {
  font-size: 2em;
  margin-bottom: 20px;
  margin-left: 300px;
  background: linear-gradient(135deg, #4682b4, #b0c4de);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #333;
}

.user-details-container p {
  font-size: 18px;
}

.edit-button {
  padding: 10px 20px;
  background-color: #4682b4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #5a9bd4;
}

